<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
	    <div class="btn-group"  >
	      <button class="btn blue" id="editBtn">
	      	编辑
	      </button> 
	      <button class="btn blue" id="editLayoutBtn">
	      	布局编辑
	      </button>
	       <button class="btn blue">
	      	预览
	      </button>
	      </div>
     </div>
     <div class="navbar-left buttonBar">
     	<div class="btn-group"  >
     			<button class="btn blue">
		      	撤销
		      </button>
		      <button class="btn blue">
		      	恢复
		      </button>
     	</div>
     </div>
     <div class="navbar-left buttonBar">
     	<div class="btn-group"  >
     			<button class="btn blue">
		      	下载
		      </button>
		      <button class="btn blue">
		      	保存
		      </button>

		      <button class="btn blue">
		      	清空
		      </button>
     	</div>
     </div>
     <!--
      <div class="navbar-right">
	   <div class="btn-group">
  <button class="btn blue btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    绝对定位 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
     <li><a href="#">绝对定位</a></li>
     <li><a href="#">流式布局</a></li>
     <li><a href="#">边框布局</a></li>
  </ul>
</div> -->
      </div>
  </div>
</nav>