<!DOCTYPE html>
<html>
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>js 拖拽布局</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/style-metro.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="app">


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
	    <div class="btn-group"  >
	      <button class="btn blue" id="editBtn">
	      	编辑
	      </button> 
	      <button class="btn blue" id="editLayoutBtn">
	      	布局编辑
	      </button>
	       <button class="btn blue">
	      	预览
	      </button>
	      </div>
     </div>
     <div class="navbar-left buttonBar">
     	<div class="btn-group"  >
     			<button class="btn blue">
		      	撤销
		      </button>
		      <button class="btn blue">
		      	恢复
		      </button>
     	</div>
     </div>
     <div class="navbar-left buttonBar">
     	<div class="btn-group"  >
     			<button class="btn blue">
		      	下载
		      </button>
		      <button class="btn blue">
		      	保存
		      </button>

		      <button class="btn blue">
		      	清空
		      </button>
     	</div>
     </div>
     <!--
      <div class="navbar-right">
	   <div class="btn-group">
  <button class="btn blue btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    绝对定位 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
     <li><a href="#">绝对定位</a></li>
     <li><a href="#">流式布局</a></li>
     <li><a href="#">边框布局</a></li>
  </ul>
</div> -->
      </div>
  </div>
</nav>


<div class="container-fluid content">
	<div class="row">
		<div class="col-md-3 leftBox" id="leftBar" ng-controller="naveBarController">
			 
		 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              基础控件
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
           <ul class="list-group" >
            <li class="list-group-item" ng-repeat="comp in basicComponents">
              <i class="{{comp.icon}}"></i>&nbsp;{{comp.title}}
            </li>
           		
           	</ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              数据控件
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <ul class="list-group"  >
           		<li class="list-group-item" ng-repeat="datacomponent in dataComponents">
           			<i class="{{datacomponent.icon}}"></i>&nbsp;{{datacomponent.title}}
           		</li>
           	</ul>
          </div>
        </div>
      </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
             布局控件
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
           <ul class="list-group"  >
         	<li class="list-group-item" ng-repeat="layout in layouts">
                <i class="{{layout.icon}}"></i>&nbsp;{{layout.title}}
              </li>
         	</ul>
        </div>
      </div>
    </div>
  </div>
		</div>
		 
		<div class="col-md-9 box" id="drawPane" ng-controller="drawPaneController">
			  
		</div>
	</div>
</div>
<div id="dragId"></div>
<!-- bootstrap-->
<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<!-- angular-->
<script type="text/javascript" src="js/angular/angular.min.js"></script>
<script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular/angular-touch.min.js"></script>
<script type="text/javascript" src="js/angular/angular-ui-router.min.js"></script>

<!-- custom-->
<script type="text/javascript" src="js/domain.js"></script>
<script type="text/javascript" src="js/drag.js"></script>


</body>
</html>
