<!DOCTYPE html>
<html>
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>js layoutit --angularjs</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/style-metro.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="app">


<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navBarController">
  <div class="container-fluid">
    <div class="navbar-header">
	    <div class="btn-group"  >
	      <button class="btn blue" id="editBtn" >
	      	Edit
	      </button> 
	      <button class="btn blue" id="editLayoutBtn">
	      	Layout Edit
	      </button>
	       <button class="btn blue">
	        Preview
	      </button>
	      </div>
     </div>
     <div class="navbar-left buttonBar">
     	<div class="btn-group"  >
     			<button class="btn blue">
		       Undo
		      </button>
		      <button class="btn blue">
		      	Redo
		      </button>
     	</div>
     </div>
     <div class="navbar-left buttonBar">
     	<div class="btn-group"  >
     			<button class="btn blue">
		      	Downlaod
		      </button>
		      <button class="btn blue">
		      	Save
		      </button>

		      <button class="btn blue" ng-click="layoutClean()">
		      	Clean
		      </button>
     	</div>
     </div>
     <!--
      <div class="navbar-right">
	   <div class="btn-group">
  <button class="btn blue btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Layout <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
     <li><a href="#">Layout1</a></li>
     <li><a href="#">Layout2</a></li>
     <li><a href="#">Layout3</a></li>
  </ul>
</div> -->
      </div>
  </div>
</nav>


<div class="container-fluid content">
	<div class="row">
		<div class="col-md-3 leftBox" id="leftBar" ng-controller="siteBarController">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Components
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
           <ul class="list-group" >
            <li class="list-group-item" ng-repeat="comp in basicComponents">
              <i class="{{comp.icon}}"></i>&nbsp;{{comp.title}}
            </li>
           		
           	</ul>
          </div>
        </div>
      </div>
   <!--   <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Data Components
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <ul class="list-group"  >
           		<li class="list-group-item" ng-repeat="datacomponent in dataComponents">
           			<i class="{{datacomponent.icon}}"></i>&nbsp;{{datacomponent.title}}
           		</li>
           	</ul>
          </div>
        </div>
      </div>
      -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
             Layout
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
           <div class="list-group"  >
         	<a class="list-group-item {{l.typeName == $root.layout.typeName ? 'active':''}}" ng-repeat="l in layouts" ng-click="changeLayout(l)">
               <i class="{{l.icon}}"></i>&nbsp;{{l.title}} 
              </a>
         	</div>
        </div>
      </div>
    </div>
  </div>
		</div>
		 
		<div class="col-md-9 box" id="drawPane" ng-controller="drawPaneController">
			  
		</div>
	</div>
</div>

<div id="dragId"></div>
<!-- bootstrap-->
<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<!-- angular-->
<script type="text/javascript" src="js/angular/angular.min.js"></script>
<script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="js/angular/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular/angular-touch.min.js"></script>
<script type="text/javascript" src="js/angular/angular-ui-router.min.js"></script>

<!-- custom-->
<script type="text/javascript" src="js/component.js"></script>
<script type="text/javascript" src="js/drag.js"></script>
<script type="text/javascript" src="js/ext_layout.js"></script>


</body>
</html>
